body {
    background-color: #92BA92;
}


h1 {
    font-size: 45px;
    text-align: center;
    text-shadow: 1px 1px 2px black, 0 0 1em #827397, 0 0 0.3em#F806CC;
    color: #363062;
    font-family: 'Merriweather', serif;
}

h3 {
    font-size: 30px;
    text-align: center;
    color: #270082;
    text-shadow: 1px 1px 2px #270082, 0 0 1em #FA58B6, 0 0 0.3em#F1D00A;
    font-family: 'Merriweather', serif;
}

p {
    font-size: 20px;
    color: #4D4C7D;
    text-shadow: 1px 1px 2px black, 0 0 1em #827397, 0 0 0.3em#28FFBF;
    font-family: 'Merriweather', serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#category{
    background-color: #FFFBC1;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 15px;
    width: calc(100% / 3 - 30px);
}

input {
    background-color: #DEF5E5;
    font-family: 'Merriweather', serif;
    padding: 5px;
}


img {
    width: calc(100%);
    height: 20vh;
    margin-top: 15px;
}


form {
    display: flex;
    margin: 0 auto;
    text-align: center;
    flex-direction: column;
    max-width: 250px;
    font-family: 'Merriweather', serif;
    background-color: #DFE8CC;
    padding: 10px;
    margin-bottom: 10px;
}

#members {
    padding: 5px;
    font-size: 15px;
    font-family: 'Merriweather', serif;
    color: #4D4C7D;
    background-color: #92BA92;
}

h4 {
    color: #064420;
    font-size: 15px;
    font-family: 'Merriweather', serif;
}

.people {
    background-color: #c2b7d1;
    text-align: center;
    font-family: 'Merriweather', serif;
    display: none;
}

#btn {
    margin-top: 10px;
    padding: 5px;
    font-size: 20px;
    font-family: 'Merriweather', serif;
    color: #4D4C7D;
    text-shadow: 1px 1px 2px black, 0 0 1em #827397, 0 0 0.3em#28FFBF;
    background-color: #ebdd92;
    border-radius: 50%;
}

#totalAmount {
    display: flex;
    justify-content: center;
    text-align: center;
}

#totalPay, #totalCategory, #totalPerson {
    background-color: #A8DF65;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
}

span {
    font-size: 20px;
    color:#363062;
    font-family: 'Merriweather', serif;
}

@media all and (max-width: 1000px) {
    img {
        height: 15vh;
        margin-top: 10px;
    }  
}

@media all and (max-width: 800px) {
    h1 {
        font-size: 35px;
    }
    
    h3 {
        font-size: 20px;
    }

    #category{
        margin: 5px;
        padding: 5px;
        width: calc(100% / 3 - 10px);
    }

    img {
        height: 10vh;
        margin-top: 5px;
    }  

    p, span {
        font-size: 15px;
    }
    #totalPay, #totalCategory, #totalPerson {
        margin: 10px;
        padding: 10px;
    }
}

@media all and (max-width: 550px) {
    h1 {
        font-size: 25px;
    }
    
    h3 {
        font-size: 15px;
    }

    #totalAmount {
        flex-direction: column;
        max-width: 50vw;
        margin: 0 auto;
    }
    
}